.header {
  padding: 2rem 3rem;
  max-width: 1024px;
  margin: 0 auto;
}
.main__h1 {
  font-size: 64px;
  margin-bottom: 3rem;
}
.main__h1 span {
  color: #159a9c;
}
.preview__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img {
  width: auto;
  height: 100%;
  border-radius: 15px;
  background-color: #f3ffe5;
  -webkit-filter: brightness(100%);
}
.img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.main__description {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.main__description h2 {
  font-size: 48px;
  margin: 1rem 0;
}

.main__description span,
.main__description p {
  color: rgb(72, 72, 72);
}
